autopep8                      
beautifultable                
bokeh                 
ipykernel
ipython
jupyter    
jupyter_contrib_nbextensions
jupyterlab
matplotlib                    
nbconvert                     
nltk                          
notebook                      
numpy                         
pandas                        
pip                           
plotly                                             
pymongo                       
pymysql                       
pyspark                                         
scikit-learn                  
seaborn                       
setuptools
tensorflow-macos
tensorflow-metal                                 
wheel
yapf             